table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: calibri;
}

#players {
    margin-top: 100px;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font-family: calibri;
}

#header {
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.strokeme
{
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    
}

#removeP {
    background-color: #f94f5e;
    border-radius: 8px;
    font-family: calibri;
    font-weight: bold;
    border-color: #f94f5e;
}

#topBox{
    bacgkround-image: url("football-field-stripes-1.jpg")
}

#afcLogos {
    width: 100%;
    text-align: center;
}

#nfcLogos {
    widows: 100%;
    text-align: center;
}

img {
    width: 86px;
    align-items: center;
    display: inline-block;
}

body {
    background-color: aqua;
}
